<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Qaudribol</title>
    <link type="text/css" href="~/Content/CSS/jquery-ui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/bootstrap" )

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/challenge/commonAjax.js"></script>
    <script type="text/javascript">

		$( function ()
		{
			$.ROOT = '@Url.Content("~")';

			ajaxInit( $ );
            var imgLoading = $.ROOT + "Content/img/ajax-loader.gif";

			$("div#div-ajax-loading").css("background", "url('" + imgLoading + "') center center no-repeat");

		} );
    </script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Desafio de Quadribol", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
                    <li>@Html.ActionLink( "Times Participantes", "Index", "Teams" )</li>
                    <li>@Html.ActionLink( "Ao Jogo", "Index", "Match" )</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content backgroundimage">
        @RenderBody()
		<div id="div-ajax-loading" style="width: 100%; height: 90%; display: none;	padding: 0;"></div>
		@RenderSection( "scripts", required: false )

    </div>
</body>
</html>
